@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

@keyframes blink {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}

body {
    font-family: "Sriracha", cursive;
}

p,a {
    font-style: normal;
;
}

h1 {
    font-weight: 400;
    font-style: normal;
}

h2, h3 {
    font-size: medium;
    font-weight: 400;
    font-style: normal;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container img{
    width: 100%;
}

#avatar {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: 45%;
}

#body_login {
    display: flex;
    height: 100vh;
    margin: 8px;
}

#container-entrada{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70vw;
    min-width: 0px;
}

@media screen and (min-width: 769px){
    #container-entrada{
        flex-direction: row;   
        min-width: 800px;
    }
}

#container-titulo {
    text-align: center;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-titulo h1 {
    font-weight: normal;
    margin: 0px;
}

#container-titulo p {
    margin: 0px auto;
    max-width: 20em;
}

#fake-form {
    text-align: center;
    flex: 0.6 1 0%;
}

#fake-form input {
    padding: 0.3em;
    margin: 0.5em;
}

#fake-form button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

#fake-form p{
    margin: 0px auto;
}

header {
    background-color: rgb(16, 39, 116);
    padding: 0.5em 1em;
    position: relative;
    display: flex;
    flex-direction: row;
}

header h1 {
    color: white;
    margin: 0px;
    flex-grow: 1;
}

header button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

#select-plantel {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 1em 1.5em;
    display: block;
    margin: 1em auto 0.5em;
    font-size: larger;
}

#barra-escolhas {
    display: none;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin: 2em 0px;
}

@media screen and (min-width: 769px) {
    #select-plantel {
        display: none;
    }
    #barra-escolhas {
        display: flex;
    }
}

#barra-escolhas button {
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1.3em;
    max-width: 6em;
}

#container-pesquisa {
    text-align: center;
    margin: 0px auto 2em;
}

#container-pesquisa input {
    text-align: center;
    line-height: 3em;
    max-width: 80%;
    width: 30em;
}

#container-jogadores {
    display: grid;
    gap: 1em;
    max-width: 1400px;
    margin: auto;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 769px) {
    #container-jogadores {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1025px) {
    #container-jogadores {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1301px) {
    #container-jogadores {
        grid-template-columns: 1fr 1fr 1fr 1fr fr;
    }
}

@media screen and (min-width: 1401px) {
    #container-jogadores {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}

.card-jogador {
    width: min-content;
    margin: auto;
    text-align: center;
    background-color: rgb(137, 137, 137);
    padding: 0.5em;
    cursor: pointer;
}

.card-jogador img {
    width: 220px;
    object-fit: none;
    height: 300px;
    object-position: 100% 10%;
}

.card-jogador h3 {
    padding: 0.5em;
    position: relative;
    top: -2.3em;
    background-color: rgb(237, 129, 22);
}

.card-jogador h2 {
    margin-top: -2em;
    height: 2.5em;
    display: flex;
    place-content: center;
    flex-direction: column;
}

#mensagem-carregando {
    animation: 1s ease-out 0s infinite normal none running blink;
    display: grid;
    margin: auto;
    width: min-content;
}



#container-detalhes {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-direction: column;
}

@media screen and (min-width: 769px) {
    #container-detalhes {
        flex-direction: row;
    }

}

#container-descricao {
    font-size: 1.3em;
}

#container-jogador {
    width: fit-content;
    margin: auto;
}

#botao-voltar-detalhes {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 2em;
    display: block;
    text-align: center;
}
